.owl-nav{
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: transparent;
    .owl-next, .owl-prev{
        position: relative;
        width: 30px;
        height: 30px;
        margin: 0 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #dee2e6 !important;
        background: 0 0 !important;
        border: 1px solid #dee2e6 !important;
        transition: 0.3s;
        &:hover{
            background-color: #dc2626 !important;
        }
    }
}

.trendingtopic{
    .owl-nav{
        width: auto;
        height: 30px;
        justify-content: flex-start;
        top: calc(50% - 15px);
        left: 0;
        z-index: 1;
    }
    .owl-stage-outer {
        left: 85px;
    }
}
.toppostslide, .featured{
    .owl-nav{
        margin: 0px 20px;
        padding: 0px 20px;
        top: 190px;
        left: 0;
        right: 0;
        justify-content: space-between;
    }
}

.inputTags{
    .content{ 
        p{
            font-size: 15px;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            padding: 7px;
            margin: 12px 0;
            border-radius: 5px;
            border: 1px solid #a6a6a6;
            li{
                display: flex;
                align-items: center;
                color: #333;
                margin: 4px 3px;
                list-style: none;
                border-radius: 5px;
                background: #F2F2F2;
                padding: 5px 8px 5px 10px;
                border: 1px solid #e3e1e1;
                i{
                    display: flex;
                    align-items: center;
                    height: 20px;
                    width: 20px;
                    color: #808080;
                    margin-left: 8px;
                    font-size: 12px;
                    cursor: pointer;
                    border-radius: 50%;
                    background: #dfdfdf;
                    justify-content: center;
                }
            }
            input{
                flex: 1;
                padding: 5px;
                border: none;
                outline: none;
                font-size: 16px;
            }
        }
    }
    .details{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}